# SPDX-FileCopyrightText: 2023 Slavi Pantaleev
#
# SPDX-License-Identifier: AGPL-3.0-or-later

---
- name: (Deprecation) Catch and report renamed settings
  ansible.builtin.fail:
    msg: >-
      Your configuration contains a variable, which now has a different name.
      Please change your configuration to rename the variable (`{{ item.old }}` -> `{{ item.new }}`).
  when: "lookup('ansible.builtin.varnames', ('^' + item.old + '$'), wantlist=True) | length > 0"
  with_items:
    - { "old": "focalboard_systemd_required_systemd_services_list", "new": "focalboard_systemd_required_services_list" }
    - { "old": "focalboard_systemd_required_systemd_services_list_default", "new": "focalboard_systemd_required_services_list_default" }
    - { "old": "focalboard_systemd_required_systemd_services_list_auto", "new": "focalboard_systemd_required_services_list_auto" }
    - { "old": "focalboard_systemd_required_systemd_services_list_custom", "new": "focalboard_systemd_required_services_list_custom" }
    - { "old": "focalboard_container_additional_environment_variables", "new": "focalboard_environment_variables_additional_variables" }
    - { "old": "focalboard_http_header_content_permission_policy", "new": "focalboard_http_header_permissions_policy" }

- name: Fail if required Focalboard settings not defined
  ansible.builtin.fail:
    msg: >-
      You need to define a required configuration setting (`{{ item }}`).
  when: "lookup('vars', item, default='') | string | length == 0"
  with_items:
    - focalboard_uid
    - focalboard_gid
    - focalboard_hostname
    - focalboard_path_prefix

- name: Fail if Focalboard database type invalid
  ansible.builtin.fail:
    msg: >-
      focalboard_database_type must be 'postgres' or 'sqlite'
  when: "focalboard_database_type not in ['postgres', 'sqlite']"

- name: Fail if required Focalboard + Postgres integration settings not defined
  ansible.builtin.fail:
    msg: >-
      You need to define a required configuration setting (`{{ item }}`) when `focalboard_database_type` is `postgres`
  when: "focalboard_database_type == 'postgres' and lookup('vars', item, default='') | string | length == 0"
  with_items:
    - focalboard_database_username
    - focalboard_database_password

- name: Run if Traefik is enabled
  when: focalboard_container_labels_traefik_enabled | bool
  block:
    - name: Fail if Traefik settings required for Focalboard are not defined
      ansible.builtin.fail:
        msg: >-
          You need to define a required configuration setting (`{{ item }}`).
      when: "lookup('vars', item, default='') | string | length == 0"
      with_items:
        - focalboard_container_labels_traefik_hostname
        - focalboard_container_labels_traefik_path_prefix

    # We ensure it doesn't end with a slash, because we handle both (slash and no-slash).
    # Knowing that `focalboard_container_labels_traefik_path_prefix` does not end with a slash
    # ensures we know how to set these routes up without having to do "does it end with a slash" checks elsewhere.
    - name: Fail if focalboard_container_labels_traefik_path_prefix ends with a slash
      ansible.builtin.fail:
        msg: >-
          focalboard_container_labels_traefik_path_prefix (`{{ focalboard_container_labels_traefik_path_prefix }}`) must either be `/` or not end with a slash (e.g. `/focalboard`).
      when: "focalboard_container_labels_traefik_path_prefix != '/' and focalboard_container_labels_traefik_path_prefix[-1] == '/'"
